- var endpoint
- var headers
- var pageTitle
doctype html
html(lang="en")
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      meta(name="robots" content="noindex,nofollow,noarchive")
      title=pageTitle
      link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/graphql-playground-react/build/static/css/index.css" crossorigin)
      style(type="text/css").
        body {
          background-color: rgb(23, 42, 58);
          font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
          height: 100vh;
        }
        #root {
          align-items: center;
          display: flex;
          height: 100%;
          justify-content: center;
          width: 100%;
        }
        #root > div {
          width: 100%;
        }
        #loading {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
        .loading {
          font-size: 32px;
          font-weight: 200;
          color: rgba(255, 255, 255, .6);
          margin-left: 20px;
        }
        img {
          width: 78px;
          height: 78px;
        }
        .title {
          font-weight: 400;
        }
  body
    block body
      div(id="root")
        div(id="loading")
          img(src='//cdn.jsdelivr.net/npm/graphql-playground-react/build/logo.png')
          div(class="loading") Loading
    block scripts
      script(src="//cdn.jsdelivr.net/npm/graphql-playground-react/build/static/js/middleware.js" crossorigin)
      script.
        window.addEventListener('load', function (event) {
          GraphQLPlayground.init(document.getElementById('root'), {
            endpoint: "/#{endpoint}",
            headers: !{headers},
          })
        })
